apiVersion: v1
kind: ConfigMap
metadata:
  name: searxng-config
  namespace: app-searxng
data:
  settings.yml: |
    use_default_settings: true

    search:
      safe_search: 0
      autocomplete: ""
      default_lang: ""
      formats:
        - html
        - json

    engines:
      - name: startpage
        disabled: true
