apiVersion: apps/v1
kind: Deployment
metadata:
  name: searxng
  namespace: app-searxng
  labels:
    app: searxng
spec:
  replicas: 1
  selector:
    matchLabels:
      app: searxng
  template:
    metadata:
      labels:
        app: searxng
    spec:
      containers:
        - name: searxng
          image: ghcr.io/searxng/searxng:2026.2.6-b5bb27f23
          ports:
            - containerPort: 8080
              name: http
          volumeMounts:
            - name: config
              mountPath: /etc/searxng/settings.yml
              subPath: settings.yml
      volumes:
        - name: config
          configMap:
            name: searxng-config
